
<marquee><h1>me pide leche!!</h1></marquee>
<%[1,2,3,4].each do |number| %>
    <p>Numero: <%=number %></p>
<%end%>












<marquee><h1>en la boca se la  doy!!</h1></marquee>





<marquee><h1>pero no te apeche!!</h1></marquee>


</body>
